.dl_theme{
  header{
    padding: 50px 0;
    margin-bottom: 50px;
    @media #{$w1024}{
      margin-bottom: 0;
      padding: 30px 0 50px;
    }
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media #{$w1024}{
       justify-content: center;
      }
      .header_elems{  
        display: flex;
        align-items: center;
        grid-gap: 164px;
        @media #{$w1024}{
          justify-content: center;
        }
        .logo{
          img{
            @media #{$w1024}{
              max-width: 160px;
            }
          }
        }
        .header_menu{
          @media #{$w1024}{
            display: none;
          }
        }
      }
      .header_sign_in{
        display: flex;
        align-items: center;
        gap: 25px;
        @media #{$w1024}{
          display: none;
        }
      }
    }
  }
}