.dl_theme{
  section.points_images{
    @extend .section_margin;
    .section_wrap{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
      @media #{$w1024}{
        grid-template-columns: 1fr;
      }
      .points_list{
        ul{
          @extend .no-list;
          display: flex;
          grid-gap: 20px;
          flex-direction: column;
          li{
            .point_item{
              display: flex;
              flex-direction: column;
              padding: 40px;
              border: 6px solid $ccorpLight;
              border-radius: 10px;
              @media #{$w1024}{
                padding: 20px;
              }
              .point_title{
                margin-bottom: 25px;
                font-size: 20px;
                font-weight: 500;
                color: $cmain;
                @media #{$w1024}{
                  margin-bottom: 20px;
                  font-size: 14px;
                }
              }
              .point_desc{
                font-size: 500;
                @media #{$w1024}{
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .images{
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media #{$w1024}{
          flex-direction: row;
          flex-wrap: wrap;
        }
        figure{
          flex: auto;
          @media #{$w1024}{
            width: calc(50% - 10px);
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
    }
  }
}