.dl_theme{
  section.banner{
    @extend .section_margin;
    .banner_wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $ccorpLight;
      border-radius: 10px;
      padding: 40px;
      text-align: center;
      @media #{$w1024}{
        padding: 40px 20px 30px;
      }
      .banner_title{
        margin-bottom: 20px;
        font-size: 40px;
        color: $cmain;
        @media #{$w1024}{
          font-size: 20px;
        }
      }
      .banner_desc{
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 500;
        @media #{$w1024}{
          margin-bottom: 30px;
          font-size: 12px;
        }
      }
      .theme_button{

      }
    }
  }
}